<div class="container">
    <h1>みんなの投稿</h1>
  

    <div class="button_solid020">
      <%= link_to "新規投稿へ", new_song_path %>
    </div>

    <br>

    <div class="search">
        <h3>検索する</h3>
      <div class="search1">
        <%= form_tag({controller:"songs",action:"index"}, method: :get) do %>
          <div class="search2">
            <% Tag.all.each do |t| %>
              <label class="checkbox-label">
                <li><%= check_box :tag_ids, t.name %>
                <%= t.name %></li>
              </label>
            <% end %>
          </div>
          <%= submit_tag '検索' %><% end %>
      </div>
      
    </div>

    <br>

    <div class="list">

      <h3>一覧</h3>

        <% @songs.each do |t| %>
          <%#= link_to t.user.name, user_path(t.user.id) %> <!わからん、多分必要ない>
          <div class="song">
            <%= t.user.email %>
            <%= t.tile %>
            <%= t.name %>
            <%= t.about %>
            <%= t.day %>
                      <% if user_signed_in? %>
                          <% if current_user.already_liked?(t) %>
                              <%= link_to song_like_path(id: t.id, song_id: t.id), method: :delete do %>
                                  <i class="fas fa-heart"></i><%= t.likes.count %>
                              <% end %>
                          <% else %>
                              <%= link_to song_likes_path(id: t.id, song_id: t.id), method: :post do %>
                                <i class="far fa-heart"></i><%= t.likes.count %>

                                <% end %>
                          <% end %>
                      <% else %>
                          <i class="far fa-heart"></i><%= t.likes.count %>
                      <% end %>
            <%= link_to "詳細へ", song_path(t.id) %>

            <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_song_path(t.id) %>
            <%= button_to "削除する", song_path(t.id), method: :delete %>
            <% end %>
          </div>
        <% end %>

    </div>



</div>