
<div class="container2">
  <div class="whitebox">
    <%= image_tag 'halfpinkvinyl.png', class:"halfpinkvinyl" %>
    <%= image_tag 'halfyellowvinyl.png', class:"halfyellowvinyl" %>
    <%= image_tag 'login.jpg', class:"login" %>
    <br><br><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :Email %><br />
        <div class="box">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>
        <%= f.label :Password %><br />
        <div class="box">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
      <br><br>
      <% if devise_mapping.rememberable? %>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="field">
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
      <br><br>
    <%= render "users/shared/links" %>
  </div>
</div>