<body>
  <div class="container">
  
    <%= image_tag 'title.jpg', class:"image1" %>

    <div class="front">

      <%= image_tag 'greenvinyl.png', class:"vinyl1" %>
      <%= image_tag 'pinkvinyl.png', class:"vinyl2" %>
      <%= image_tag 'orangevinyl.png', class:"vinyl3" %>
      <%= image_tag 'bluevinyl.png', class:"vinyl4" %>
      <%= image_tag 'yellowvinyl.png', class:"vinyl5" %>

      <div class="body">
        <p><h3><br><br>人生の主人公である、あなたの日常に彩りを...</h3><p>

        <p><h3><br>イベントや気分に合った曲を提案する、あなたの音楽のお供-<br>
        それがこのウェブサイトです。</h3><p>

      </div>

    <br>

    <div class="body2">

      <span class="text"><h3> 自分の特別な瞬間をInstagramに記録する際は、<br>
      そのときの雰囲気を音楽に乗せて共有できます。</h3></span>

    </div>

    <br>

    <%= image_tag 'musicbase.jpg', class:"image2" %>

    <div class= "rectanglecontainer">
    <div class="rectangle">
      <%= image_tag 'banner.jpg', class:"image3" %>
      <%= image_tag 'banner.jpg', class:"image4" %>
      <%= image_tag 'redvinyl.png', class:"image5" %>
      <%= image_tag 'bannertitle.jpg', class:"image6" %>
      <div class="guide">
        <p><h3>簡単な3STEP選択から<br>あなたにピッタリな曲をご提案します</h3></p>
        <div class="button_solid019">
          <a href="shindans/new">診断する</a>
        </div>
      </div>
    </div>
  </div>
    <br>

    <div class= "librarykami">
      <div class= "library">
        <div class= "librarytitle">
          <h4><p>Library</p></h4>
        </div>
        <%= image_tag 'flower.png', class:"image7" %>
        
      </div>

      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      

    </div>

    

    

  </div>
</body>